%link {
    text-decoration: none;
}

%button {
    width: 150px;
    height: 40px;
    cursor: pointer;
    outline: none;    
    text-transform: uppercase;
}


%list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }