$font-first: "Montserrat",
sans-serif;
$font-second: "Roboto",
sans-serif;
$font-thirrd: "Kaushan Script",
sans-serif;
$color-first: rgb(255, 255, 255);
$color-second: rgb(51, 51, 51);
$color-third: rgb(153, 153, 153);
$color-fourth: rgb(243, 129, 129);
$color-five: rgb(149, 225, 211);
$color-six: rgb(252, 227, 138);

/*mixin*/

@mixin position ($d, $jc, $ai) {
    display: $d;
    justify-content: $jc;
    align-items: $ai;
}