.header-navigation {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    @include position(flex, space-between, center);
}

.header-navigation__link {
    @extend %link;
    color: $color-first;
    font-size: 0.875rem;
    text-transform: uppercase;
    position: relative;
    transition: color .5s linear;
    &:hover {
        color: $color-six;
        &::after {
            width: 100%;
        }
    }
    &::after {
        display: block;
        content: '';
        position: absolute;
        width: 0;
        height: 2px;
        background-color: $color-six;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        transition: width .3s linear;
    }
}

.header-navigation {
    &__list+&__list {
        margin-left: 26px;
    }
}