.header-form {
    margin-left: 52px;
    &__button {
        background: none;
        border: none;
        cursor: pointer;
    }
    &__button+&__button {
        margin-left: 42px;
    }
}

.header-form__icon {
    fill: $color-first;
    width: 20px;
    height: 20px;
    transition: fill .3s linear;
    &:hover {
        fill: $color-six;
    }
}