.page-header__nav--logotype {
    @extend %link;
    color: $color-first;
    font-size: 1.875rem;
    font-weight: 700;
    transition: color .5s linear;
    &:hover {
        color: $color-six;
    }
}